body{
background: #4dffe1;
  display: flex;
  justify-content: center;
  align-items: center;
  height:110vh;
  margin: 0;
  font-size: 4vw; 
}

<h2>{
text-align: center;
font-family: 'Courier New', Courier, monospace;

}

#startBtn{
<!- botão de inicio->

  text-align: center;
  font-size:  center;
  border-style:outset;
  padding: 1em 1em;
  font-size: 1em;
background: dodgerblue;
  border-radius: 7px;
  margin:120px;

}


#submitBtn{
<!-- botão de enviar ->
  
  padding: 1em 1em;
  font-size: 1em;
  background: skyblue;
  align-items: center;
  margin: 5px;
font-size: center;   
  }

input{
  width: 250px; 
  height: 80px; 
  font-size: 1em; 
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  <br> <br>      
}
img {
    position: absolute;
    top: 100px; /* Distância do topo da tela */
    left: 1450px; /* Distância da esquerda da tela */
    width: 200px; /* Largura da imagem */
    height: auto; /* Mantém a proporção original da imagem */
}
